.ticket-hidden {
  display: none;
}
.ticket {
  border: rgb(169, 218, 165) solid 0.125em;
  background-color: burlywood;
  border-radius: 5em;
  width: 70%;
  margin: 2% auto;
  padding: 3%;
  box-shadow: 0.5em 0.2em 1em rgb(169, 218, 165);
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
}
.ticket:hover > .content {
  min-height: 3em;
  height: max-content;
}

.hideTicketButton {
  background-color: burlywood;
  border: burlywood solid;
  color: burlywood;
  position: relative;
  outline: none;
  display: flex;
  left: 90%;
}
.ticket:hover > .hideTicketButton {
  background-color: burlywood;
  /* border: rgb(226, 112, 112) solid; */
  color: rgb(226, 112, 112);
  position: relative;
  outline: none;
  display: flex;
  left: 90%;
  text-decoration: underline;
}
.title {
  display: inline-block;
  font-size: 120%;
  font-weight: bold;
}
.date {
  font-size: 75%;
  display: flex;
  padding-top: 4%;
  align-content: space-between;
}
.span-date {
  padding-left: 1.5%;
}
.user-email {
  padding-right: 1.5%;
}
.content {
  overflow-y: scroll;
  overflow: hidden;
  display: flex;
  padding-top: 2%;
  height: 3em;
}
.check-box {
  float: inline-end;
}
.switch {
  position: relative;
  display: inline-block;
  float: left;
  width: 40px;
  height: 20px;
  margin-right: 2%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.condition {
  /* width: 50%; */
  /* margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #ff0000;
  margin-top: 20px; */
  -webkit-transition: opacity 5s ease-in-out;
  -moz-transition: opacity 35s ease-in-out;
  -ms-transition: opacity 5s ease-in-out;
  -o-transition: opacity 5s ease-in-out;
  opacity: 0;
}
